body {
    font-family: 'Oswald', sans-serif;
  }
  /*to align content to the center*/
  .container {
    text-align: center;
    background-color: rgba(78, 131, 47, 0.6);
  }
  h1{
    text-align: center;
  }